<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="docfx.console" version="2.56.4" targetFramework="net462" developmentDependency="true" />
  <package id="MathNet.Numerics.Signed" version="4.15.0" targetFramework="net462" />
  <package id="System.Drawing.Common" version="4.7.0" targetFramework="net462" />
</packages>